{% load i18n %}

<div class="row">
    <div class="col-sm-12">
    <form class="create" id="create" action="." method="post" name="frmc">
    {% csrf_token %}
        <fieldset>
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <p>{{ field }}</p>
            {% endfor %}
        <div class="button"><input type="submit" value="Update" /></div>
      </fieldset>
    </form>
    </div>
    <div class="col-sm-12">
        {% if volume %}
            <iframe src="http://{{ ip }}/app/kibana#/dashboard/mpstor_volume?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:mpstor_volume_read_bw_vis,panelIndex:1,row:1,size_x:11,size_y:2,type:visualization),(col:4,id:mpstor_volume_write_bw_vis,panelIndex:2,row:1,size_x:11,size_y:2,type:visualization),(col:7,id:mpstor_volume_read_iops_vis,panelIndex:3,row:1,size_x:11,size_y:2,type:visualization),(col:10,id:mpstor_volume_write_iops_vis,panelIndex:4,row:1,size_x:11,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'metric:{{ volume }}')),title:mpstor_volume,uiState:())" height="600" width="800"></iframe>
        {% else %}
        <br>
            <p>Please select a volume to show Monitoring data</p>
        {% endif %}
    </div>
</div>
</div>
