{% load i18n %}

<div class="row">
    <div class="col-sm-12">
<iframe src="http://{{ ip_host }}/app/kibana#/dashboard?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:mpstor_volume_read_bw_vis,panelIndex:1,row:1,size_x:6,size_y:4,type:visualization),(col:7,id:mpstor_volume_write_bw_vis,panelIndex:2,row:1,size_x:6,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'metric:test3')),title:'New%20Dashboard',uiState:())" height="600" width="800"></iframe>
    </div>
</div>
