{% load i18n %}

<div class="row">
    <div class="col-sm-12">
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=1&fullscreen&from=1449058736232&to=1449059636232&theme=light"
                width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=2&fullscreen&from=1449058755590&to=1449059655590&theme=light"
                width="450" height="200" frameborder="0"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=3&fullscreen&from=1449058795710&to=1449059695710&theme=light"
                width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=4&fullscreen&from=1449058809756&to=1449059709756&theme=light"
                width="450" height="200" frameborder="0"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=5&fullscreen&from=1449058827875&to=1449059727875&theme=light"
                width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://10.30.235.235:3000/dashboard-solo/db/collectd-defaults?panelId=6&fullscreen&from=1449058841307&to=1449059741307&theme=light"
                width="450" height="200" frameborder="0"></iframe>
    </div>
</div>
