{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_execution_form{% endblock %}
{% block form_action %}{% url 'horizon:sdscontroller:executions:create' %}{% endblock %}

{% block modal-header %}{% trans "Create Execution" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Zoe Application" %}</h3>
    <p>{% trans "Specify a name and a template to launch an execution." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Execution" %}" />
  <a href="{% url 'horizon:sdscontroller:executions:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
