{% load i18n %}

<div class="row">
    <div class="col-sm-12">
        <iframe src="http://bigfoot-m2.eurecom.fr/grafana/dashboard-solo/db/zoe-applications?panelId=1&fullscreen&var-zoe_install=prod&var-user=zoeadmin"
                width="450" height="250" frameborder="0">
        </iframe>
        <iframe src="http://bigfoot-m2.eurecom.fr/grafana/dashboard-solo/db/zoe-applications?panelId=2&fullscreen&var-zoe_install=prod&var-user=zoeadmin"
                width="450" height="250" frameborder="0">
        </iframe>
    </div>
</div>

